* {
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  --color-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

a {
  color: inherit;
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}