---
import BaseLayout from 'layout:BaseLayout';
import NoteCard from 'component:NoteCard.astro';
import PostCard from 'component:PostCard.astro';
import contentSummaries from '../config.mjs';

const latestNote = contentSummaries
    .filter(contentSummary => contentSummary.section === "note")
    .sort((a, b) =>
        new Date(b.date).valueOf() - new Date(a.date).valueOf()
    )[0];

const recentPosts = contentSummaries
    .filter(contentSummary => contentSummary.section === "post")
    .sort((a, b) =>
        new Date(b.date).valueOf() - new Date(a.date).valueOf()
    )
    .slice(0, 5);

let content = {
    title: 'Home'
};
---
<BaseLayout content={content}>
    <section>
        <div>
            <p>A blog, of sorts.</p>
        </div>
        <div>
            <h2>Latest Note</h2>
            <NoteCard note={ latestNote } />
        </div>
        <div>
            <h2>Latest Posts</h2>
            {recentPosts.map((post) => <PostCard post={ post } />)}
        </div>
    </section>
</BaseLayout>

<style>
section {
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 1000px) {
    section {
        grid-template-columns: 40ch 1fr 1fr;
    }
}
</style>