---
import BaseLayout from 'layout:BaseLayout';

let content = {
    title: "Welcome to Random Geekery"
};
---
<BaseLayout content={content}>
    <div>
        <p>A blog, of sorts.</p>
    </div>
</BaseLayout>
