---
/** List articles published in this section during the given year. */
import BaseLayout from 'layout:BaseLayout';
import ArticleListEntry from 'component:ArticleListEntry.astro';
import contentSummaries from '../../config.mjs';

export async function getStaticPaths() {
    const sections = ['post', 'note'];
    const articles = contentSummaries;
    let params = [];

    sections.forEach((section) => {
      let articlesForYear = {};

      const sectionArticles = articles.filter((article) => article.section === section);

      sectionArticles.forEach((article) => {
        const year = article.year;

        if (articlesForYear[year] === undefined) {
          articlesForYear[year] = [];
        }

        articlesForYear[year].push(article);
      });

      for (const [year, articles] of Object.entries(articlesForYear)) {
        const sortedArticles = articles.sort((a, b) =>
          new Date(b.date).valueOf() - new Date(a.date).valueOf()
        );

        params.push({
          params: {
            section: section,
            year: year,
          },
          props: { articles: sortedArticles },
        });
      }
    });

    return params;
}

const { section, year } = Astro.request.params;
const { articles } = Astro.props;

let content = {
    title: `${section}: ${year}`
}
---
<BaseLayout content={content}>
  <h1>{ content.title }</h1>
  {articles.map((article) => <ArticleListEntry article={article} />)}
</BaseLayout>
