---
/*** Render a quick summary of a single article */
import DateStamp from 'component:DateStamp.astro';
import ArticleTags from 'component:ArticleTags.astro';

const { article } = Astro.props;
---
<section>
  <div>
    <DateStamp timestamp={article.date} />
  </div>
  <div class="article-details">
    <div>
      <strong> <a href={ article.href }>{ article.title }</a> </strong>
    </div>
    <div>
      <a href="/${article.section}">{ article.section }</a>
    </div>
    <div>
      <ArticleTags article={article} />
    </div>
  </div>
</section>

<style>
section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 20ch auto;
}

.article-details {
  display: flex;
  gap: 1rem;
}
</style>
