---
/*** Render tags associated with an article */
import Tag from 'component:Tag.astro';

const { article } = Astro.props;
let tags = article.tags;

if (tags === undefined) {
  console.log(`No tags in "${article.title}"`);
  tags = []
}
---
<div>
  {tags.map((tag) => <Tag tag={tag} />)}
</div>
