---
const { content } = Astro.props;
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{content.title} | Random Geekery</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>