---
/** Render a Post summary. */
import Card from 'component:Card.astro';
import { Markdown } from 'astro/components';

const { post } = Astro.props;

if (post === undefined) {
  throw "How is there no post for this PostCard?";
}
---
<Card article={ post }>
    <div class="description">
      <Markdown>{post.cardContent}</Markdown>
    </div>
</Card>

<style>
.description {
  font-style: italic;
}
</style>
