<nav>
  <a href="/post">Posts</a>
  <a href="/note">Notes</a>
  <a href="/now">Now</a>
  <a href="/about">About</a>
  <a href="/follow">Follow</a>
  <a href="/config">Config</a>
</nav>

<style>
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin: 1rem;
  font-weight: bold;
}
</style>