---
import Article from "layout:Article";

const { content } = Astro.props;
---
<Article content={content}>
    <header slot="article-header">
        <h1>{content.title}</h1>
        <p>{content.date}</p>
    </header>
    <slot />
</Article>